<div class="row" style="min-height: 80vh; display:flex; align-items: center;">
    <div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
        <h3>Log in to your account</h3>
        <form method="post" action="/account/login">
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <br />
            <input type="password" name="password" placeholder="Password" class="form-control" />
            <br />
            <button class="btn btn-primary">Login</button>
        </form>
        <a href="/account/signup">Sign up for a new account</a>
    </div>
</div>